In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

titanic = sns.load_dataset("titanic") #Pandas Dataframe

# Writing a File
titanic.to_excel("Datasets/titanic_data.xlsx")
titanic.to_csv("Datasets/titanic_data.csv")

In [ ]:
df = pd.read_csv("Datasets/titanic_data.csv")

In [ ]:
# Panda Tips
df.info()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [7]:
s = pd.Series([1,2,3,4,5,np.nan,6,9])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    9.0
dtype: float64

In [13]:
dates = pd.date_range("20250425",periods=6)
df = pd.DataFrame(np.random.rand(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2025-04-25  0.704957  0.216330  0.253263  0.361826
2025-04-26  0.336337  0.454579  0.287225  0.262448
2025-04-27  0.239476  0.356505  0.429462  0.048141
2025-04-28  0.826888  0.395751  0.651392  0.470226
2025-04-29  0.355339  0.614401  0.013741  0.909299
2025-04-30  0.894622  0.025202  0.016633  0.957073

In [6]:
from numpy import dtype


df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20250426"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"])
    }
)
df2

     A          B    C  D      E
0  1.0 2025-04-26  1.0  3   test
1  1.0 2025-04-26  1.0  3  train
2  1.0 2025-04-26  1.0  3   test
3  1.0 2025-04-26  1.0  3  train